<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<%= render 'shared/livevideo_form' %>

<div id="map_canvas"><%= render 'shared/map_canvas' %></div>

<div class="list">
  <% if Livevideo.any? %>
    <h3>Live Videos (<%= Livevideo.count %>)</h3>
    <ol class="livevideos">
      <%= render @livevideos %>
    </ol>
    <%= will_paginate @livevideos %>
  <% end %>
</div>

